.controls {
  margin-top: .5em;
  padding: 0.5em;
  overflow: auto;
}

.ai-button, #feedback-container {
  background: #E7E1DA;
  border: none;
  border-radius: 2px;
  font-size: 1em;
}

.ai-button.active {
  background: #C6B8A9;
}

#run-button-container {
  float: right;
}

#hint-button-container, #feedback-container {
  float: left;
}

#feedback-container {
  margin-left: 1em;
  font-weight: bold;
}
