.audio-controls ul{
  list-style: none;
  margin: 0;
}

.audio-controls ul li{
  display: inline;
  margin: 0;
}

.audio-controls #pitch-input {
  font-size: 1em;
  margin-left: 7%;
}

.audio-controls .osc-type-buttons {
  margin-top: .5em;
}

.audio-controls .osc-type-button {
  font-size: 1em;
}

/* .toggle-group styles */
.toggle-group {
  display: inline-flex;
  list-style: none;
  margin: 0px 0px 0px 5px;
  overflow: hidden;
  padding: 3px;
}

.toggle-group li {
  display:block;
  float:left;
}

.toggle-group li button {
  background: #E7E1DA;
  border: none;
  border-right: 1px solid #D7D1CA;
  display: block;
  margin: 0px;
  padding: .6em;
  text-decoration: none;
}

.toggle-group li button.active {
  background: #C6B8A9;
}

.toggle-group li button:hover {
  /*background-color: darken($bc1, 5%);*/
}

.toggle-group li:first-child button {
  /*@include border-radius($radius: 4px 0px 0px 4px);*/
  border-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.toggle-group li:last-child button {
  border-right: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* END .toggle-group styles */